@keyframes crescendo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.ballon {
  animation: crescendo 0.5s ease;
}
